<md-button id="click">mode blind</md-button>

<h1>2 graphiques pour comprendre la démographie française</h1>

<p>
    L’Insee a dévoilé mardi le bilan démographique de la France en 2015, qui se
    traduit par une hausse de la mortalité et une diminution de l’espérance de
    vie, phénomène rare.
</p>

<img src="http://s2.lemde.fr/image2x/2016/01/19/534x0/4849874_6_27ba_dans-la-maternite-d-un-hopital-de-lens-en_823cd2d0d487359a65e4aadcbf4df600.jpg" alt="Dans la maternité d'un hôpital de Lens, en septembre2013." title="PHILIPPE HUGUEN / AFP">

<p>
    L’Insee a publié mardi 19 janvier le bilan démographique de la France en 2015.
    Et il n’est pas très bon. Si notre pays se distingue encore par sa vitalité
    démographique, celle-ci est en perte de vitesse, avec à la fois moins de naissance
    et, surtout, davantage de décès, qui ont pour conséquence rare de faire diminuer
    l’espérance de vie. Voici ce qu’il faut retenir de ce rapport.
</p>

<h2>
    66,6 millions de Français
</h2>
<p>
    C’est le nombre de Français au 1er janvier 2016, selon l’Insee. La population
    française est en croissance continue et a augmenté de 247 000 personnes entre
    2014 et 2015. En Europe, la France est ainsi le deuxième pays le plus peuplé
    derrière l’Allemagne (81,2 millions d’habitants) et devant le Royaume-Uni
    (64,8 millions).
</p>
<div layout="row" layout-align="center center">
    <md-button class="md-primary md-raised" id="button1" ng-click="show1()">Taper deux fois pour énoncer le graphique button1</md-button>
</div>
<blindness ng-if="hasToBeShown1"  dataset="chart1Value" title="title1"></blindness>
<canvas id="chart1" width="400" height="400"></canvas>

<h2>Naissances et décès en baisse</h2>

<p>
    La population française augmente grâce à un solde naturel (les naissances
    moins les décès) largement positif (+200 000 personnes) et un solde migratoire
    également positif (environ 47 000 personnes).
</p>
<div layout="row" layout-align="center center">
    <md-button class="md-primary md-raised" id="button2" ng-click="show2()">Taper deux fois pour énoncer le graphique</md-button>
</div>
<blindness ng-if="hasToBeShown2"  dataset="chart2Value" title="title2"></blindness>
<canvas id="chart2" width="400" height="400"></canvas>

<p>
    Ce solde naturel a toutefois connu une diminution notable en 2015 par rapport
    à 2014 (-22,8 %), alimentée à la fois par moins de naissances (-20 000,
    s’établissant à 791 000 au total) et plus de décès (+40 000, 599 000 au total).
    Ce niveau de décès n’avait pas été connu depuis l’après-guerre.
</p>

<p>
    Ce chiffre est toutefois à nuancer. D’une part, l’année 2014 s’était distinguée
    par un niveau de mortalité inférieur aux deux années précédentes (environ 11 000
    décès en moins). D’autre part, il y a un effet mécanique du fait du vieillissement
    de la population. La part des plus de 65 ans augmente en effet progressivement
    dans la population (18,8 % contre 16,6 % en 2010).
</p>

<p>
    Le vieillissement n’est pas la seule cause : 2015 a également connu un épisode
    de grippe particulièrement sévère, avec plus de 18 000 décès liés à l’épidémie,
    et une canicule estivale qui a entraîné environ 3 300 décès supplémentaires,
    selon l’institut de veille sanitaire (InVS).
</p>

